<header>
  <div id="header">
    <div id="mark-div">
      <img src="assets/images/Logos/1x/Logotype_cb.png" alt="Logo Noctua" id="logo">
    </div>
    <div id="menu-items-div">
      <a href="/shop" id="locate">Louer un serveur de jeux</a>
      <a href="">Support</a>
      <a href="">A propos</a>
    </div>
    <div id="member-div">
      <a routerLink="/connexion" id="connect">Espace Client</a>
      <a routerLink="/inscription" id="create-account">Inscription</a>
    </div>
  </div>
  <div id="games">
    <div id="a-games">
      <a class="menu-item">Minecraft</a>
      <a class="menu-item">Garry's Mod</a>
      <a class="menu-item">Ark</a>
      <a class="menu-item">Rust</a>
      <a class="menu-item">CS:GO</a>
    </div>
  </div>
</header>
