/* header{
  background: #f2f2f2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;

  .mark-div{
    display: flex;
    flex-direction: row;

    #logo{
      width: 150px;
    }
  }

  .menu-items-div{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: left;
    margin-left: 150px;

    .menu-item{
      margin-right: 50px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 13px;
      color: #302B53;
    }
  }

  .member-div{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 30px;
    align-items: center;

    a{
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 13px;
    }

    #connect{
      color: #302B53;
      margin-right: 40px;
    }

    #create-account{
      background: #551AD6;
      color: #ffffff;
      padding: 10px;
      border: 2px solid;
      border-radius: 5px;
    }
  }
} */

header {
  display: flex;
  flex-direction: column;
  width: 100%;

  #header {
    background: #f2f2f2;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 90px;

    #menu-items-div {
      width: 70%;
      margin-left: 70px;

      a {
        color: #0F0938;
        font-family: "Segoe UI";
        margin-right: 45px;
        font-size: 15px;
      }
      a:hover{
        color: #551ad6;
      }
    }
  }

  #mark-div {
    display: flex;
    flex-direction: row;

    #logo {
      width: 150px;
      margin-left: 50px;
    }
  }

  #member-div {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 30px;
    align-items: center;

    a {
      font-family: 'Segoe UI', sans-serif;
      font-weight: 400;
      font-size: 15px;
    }

    #connect {
      color: #0F0938;
      margin-right: 40px;
    }

    #create-account {
      background: #551AD6;
      color: #ffffff;
      padding: 10px;
      border: 2px solid;
      border-radius: 5px;
    }
  }
}

#games {
  background: #8D64D6;
  height: 25px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;

  #a-games {
    margin-left: 254px;

    .menu-item {
      color: white;
      margin-right: 42px;
    }
  }
}
