body{
  display: flex;
  flex-direction: column;

  align-items: center;

  #first-section{
    padding: 30px 0px;
  }

  #form-box{
    display: flex;
    flex-direction: column;
    align-items: center;

    background: rgb(148,109,214);
    background: linear-gradient(90deg, rgba(148,109,214,1) 0%, rgba(101,59,185,1) 50%, rgb(85, 26, 214) 100%);

    border-radius: 15px;
    padding: 10% 10px;
    width: 60%;

    box-shadow: 10px 7px 25px -4px rgb(148,109,214);

    h1{
      color: white;
      font-family: 'Montserrat', sans-serif;
      padding-bottom: 2%;
    }
  }

}
