body {
  display: flex;
  flex-direction: column;
  align-items: center; }
  body #first-section {
    padding: 30px 0px; }
  body #form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #946dd6;
    background: linear-gradient(90deg, #946dd6 0%, #653bb9 50%, #551ad6 100%);
    border-radius: 15px;
    padding: 10% 10px;
    width: 60%;
    box-shadow: 10px 7px 25px -4px #946dd6; }
    body #form-box h1 {
      color: white;
      font-family: 'Montserrat', sans-serif;
      padding-bottom: 2%; }

/*# sourceMappingURL=connexion.component.css.map */
