* {
  margin: 0;
  padding: 0; }

body {
  background: #946dd6;
  background: linear-gradient(90deg, #946dd6 0%, #653bb9 50%, #551ad6 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%; }

#first-section {
  padding: 40px 0px; }
  #first-section h1 {
    color: white;
    font-family: 'Montserrat', sans-serif; }

#form-box {
  background: white;
  border-radius: 15px;
  padding: 10px;
  width: 60%;
  margin-bottom: 30px; }

@media (max-width: 540px) {
  #form-box {
    background: white;
    border-radius: 15px;
    padding: 10px;
    width: 90%;
    margin-bottom: 30px; }

  #first-section {
    padding: 20px 0px; }
    #first-section h1 {
      color: white;
      font-family: 'Montserrat', sans-serif; } }

/*# sourceMappingURL=inscription.component.css.map */
