*{
  margin: 0;
  padding: 0;
}

body{
  background: rgb(148,109,214);
  background: linear-gradient(90deg, rgba(148,109,214,1) 0%, rgba(101,59,185,1) 50%, rgb(85, 26, 214) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

#first-section{

  padding: 40px 0px;

  h1{
    color: white;
    font-family: 'Montserrat', sans-serif;
  }
}

#form-box{
  background: white;
  border-radius: 15px;
  padding: 10px;
  width: 60%;

  margin-bottom: 30px;
}

@media (max-width: 540px) {
  #form-box{
    background: white;
    border-radius: 15px;
    padding: 10px;
    width: 90%;

    margin-bottom: 30px;
  }

  #first-section{

    padding: 20px 0px;

    h1{
      color: white;
      font-family: 'Montserrat', sans-serif;
    }
  }
}
