<body>
  <header>
    <div id="logo-div">
      <img src="assets/images/Logos/2x/LogoRaccourci.png" alt="Logo Noctua">
    </div>
    <div id="space">
      <h1>Espace client</h1>
    </div>
    <div id="user-info">
      <img class="element-icons" src="assets/images/bell.png" alt="Notifications icone">
      <img class="element-icons" src="assets/images/settings.png" alt="Paramètres icone">
      <img id="user-avatar" src="assets/images/avatar.jpg" alt="Avatar de l'utilisateur">
    </div>
  </header>


  <div id="left-menu">
    <div id="new-div">
      <a href="">Nouveau Serveur</a>
    </div>

    <div id="link-div">
      <a href=""><img src="assets/images/servers.svg" alt="Logo Serveur">Serveurs</a>
      <a href=""><img src="assets/images/shopping-bag.svg" alt="Logo Historique de commandes">Commandes</a>
      <a href=""><img src="assets/images/headphones.svg" alt="Logo Support">Support</a>
    </div>
  </div>
  <div>

  </div>
</body>
