body{
  background: #E6E9EE;

  header{
    background: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10%;

    #logo-div{
      width: 15%;
      padding-left: 50px;
      img{
        height: 50px;
        //padding: 20px 50px;
      }
    }

    #space{
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      h1{
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
      }
      color: #302b53;
    }

    #user-info{
      width: 15%;
      display: flex;
      flex-direction: row;
      align-items: center;
      #user-avatar{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-left: 30px
      }

      .element-icons{
        margin-left: 30px;
      }
    }

    img{
      height: 40px;
    }
  }

  #left-menu{
    background: #FAFAFA;
    width: 15%;
    height: 90%;
    display: flex;
    flex-direction: column;

    font-family: 'Montserrat', sans-serif;

    #link-div{
      a{
        font-size: 20px;
        margin-top: 50px;
        margin-left: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        img{
          margin-right: 30px;
          width: 30px;
          height: 30px;
          fill: #551AD6;
        }
      }
      height: 95%;
    }

    #new-div{
      margin-top: 20%;
      align-self: center;
      height: 5%;
      a{
        background: #551AD6;
        padding: 10px 30px;
        border-radius: 15px;
        color: white;
      }
    }
  }
}
