<app-header></app-header>

<div class="product-list-container">
  <ul class="product-list" *ngFor="let product of products">
    <li class="product-list-item-container">
      <img class="product-list-item-img" src="{{product.img}}"
           alt="Logo">
      <div class="product-list-item-detail-container">
        <h1>Serveur {{product.name}}</h1>
        <p>{{product.description}}</p>
        <ul>
          <li>Ram : {{product.spec.ram}} Go</li>
          <li>Slot : {{product.spec.players}}</li>
          <li>Stockage : {{product.spec.stockage}} Go</li>
          <li>Base de données : {{product.spec.database}}</li>
        </ul>
        <h2>{{product.price | currency: "EUR"}} / mois (TTC)</h2>
        <input type="button" value="Louer" (submit)="rent(product)">
      </div>
    </li>
  </ul>
</div>
<script type="text/javascript" src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
  const stripe = Stripe('{{ plubishable_key }}')
  const elements = stripe.elements()
  const card = stripe.create('card')
</script>
