.product-list-container {
  background: white;
  padding: 50px;

  display: flex;
  justify-content: center;

  .product-list {
    .product-list-item-container {
      font-family: 'Montserrat', sans-serif;
      list-style: none;

      display: flex;
      flex-direction: column;

      margin: 10px 30px;
      img {
        width: 280px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
      }

      .product-list-item-detail-container {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        background-color: #8653f3;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;


        width: 280px;

        *{
          padding: 10px;
        }

        h1 {
          font-size: 20px;
          margin-top: 5px;
        }

        p {
          text-align: center;
          padding: 10px 30px;
        }

        ul {
          li {
              padding: 0px;
              font-family: 'Roboto Thin', sans-serif;
          }
        }

        h2 {
          font-size: 15px;
        }
        input{
          margin-top: 5px;
          margin-bottom: 30px;
          padding: 10px 40px;
          border-radius: 10px;
          border: none;
          background-color: white;
          color: #8D64D6;
        }
      }
    }
  }
}
