<body>
<form action="" method="POST" [formGroup]="loginForm" (ngSubmit)="login()">
  <div>
    <label for="email">Adresse courriel</label>
    <input type="email" id="email" name="email">
  </div>
  <div>
    <label for="password">Mot de passse</label>
    <input type="password" id="password" name="password">
  </div>
  <div id="submit-div">
    <input type="submit" value="Connexion" id="submit">
  </div>
</form>
</body>
