form {
  padding: 20px 5%; }
  form div {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 10px 0px; }
    form div label {
      font-family: 'Montserrat', sans-serif;
      font-size: 12px;
      margin-bottom: 5px;
      color: white;
      padding: 5px; }
    form div input {
      border: 1px solid rgba(55, 53, 65, 0.3);
      border-radius: 2px;
      height: 35px;
      width: 200px;
      padding: 5px 15px; }
  form #submit-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px; }
    form #submit-div #submit {
      color: #551AD6;
      background: white;
      border-radius: 3px;
      border: none;
      box-shadow: rgba(255, 255, 255, 0.5) 2px 1px 10px 0px; }

/*# sourceMappingURL=connexion-form.component.css.map */
