body {
  height: unset;

  form {
    padding: 20px 5%;

    div {
      display: flex;
      flex-direction: column;


      margin: 0;
      padding: 10px 0px;

      label {
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        margin-bottom: 5px;
        color: white;
        padding: 5px;
      }

      input {
        border: 1px solid rgba(55, 53, 65, 0.3);
        border-radius: 2px;
        height: 35px;
        width: 200px;
        padding: 5px 15px;
      }
    }

    #submit-div {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 15px;

      #submit {
        color: #551AD6;
        background: white;
        border-radius: 3px;
        border: none;
        //box-shadow: rgba(48, 43, 83, 1) 2px 1px 10px 0px;
        box-shadow: rgba(255, 255, 255, 0.5) 2px 1px 10px 0px;
      }
    }
  }

}
