<body>
  <form action="" method="POST" [formGroup]="registerForm" (ngSubmit)="register()">
  <h1>Utilisateur</h1>
  <div id="user-info">
    <div>
      <div>
        <div><label for="email">Adresse courriel</label><p>*</p></div>
        <input type="email" id="email" name="email" formControlName="email">
      </div>
      <img src="assets/images/close.svg" *ngIf="registerForm.controls.email.invalid">
      <img src="assets/images/tick.svg" *ngIf="registerForm.controls.email.valid && registerForm.controls.email.value.length != 0">
    </div>
    <div>
      <div>
        <div><label for="password1">Mot de passse</label><p>*</p></div>
        <input type="password" id="password1" name="password1" formControlName="password">
      </div>
      <img src="assets/images/close.svg" *ngIf="registerForm.controls.password.invalid">
      <img src="assets/images/tick.svg" *ngIf="registerForm.controls.password.valid && registerForm.controls.password.value.length != 0">
    </div>
    <div>
      <div>
        <div><label for="password2">Confirmation du mot de passe</label><p>*</p></div>
        <input type="password" id="password2" name="password2" formControlName="passwordCheck">
      </div>
      <img class="password2-image" src="assets/images/close.svg" *ngIf="registerForm.controls.passwordCheck.value != registerForm.controls.password.value">
      <img class="password2-image" src="assets/images/tick.svg" *ngIf="registerForm.controls.passwordCheck.value == registerForm.controls.password.value && registerForm.controls.password.value.length != 0">
    </div>
  </div>

  <h1>Informations personnelles</h1>
  <div id="perso-info">
    <div>
      <div>
        <div><label for="name">Nom</label><p>*</p></div>
        <input type="text" id="name" name="name" formControlName="name">
      </div>
      <img hidden src="/images/close.svg" id="name-none">
    </div>
    <div>
      <div>
        <div><label for="firstname">Prénom</label><p>*</p></div>
        <input type="text" id="firstname" name="firstname" formControlName="firstname">
      </div>
      <img hidden src="/images/close.svg" id="prenom-none">
    </div>
    <div>
      <div>
        <div><label for="phone">Téléphone</label><p>*</p></div>
        <input type="tel" id="phone" maxlength="12" name="phone" formControlName="phone">
      </div>
      <img src="assets/images/close.svg" *ngIf="registerForm.controls.phone.invalid">
      <img src="assets/images/tick.svg" *ngIf="registerForm.controls.phone.valid && registerForm.controls.phone.value.length != 0">
    </div>
  </div>

  <h1>Adresse de facturation</h1>
  <div id="adress-info">
    <div>
      <div>
        <div><label for="adress1">Adresse</label><p>*</p></div>
        <input type="text" id="adress1" name="adress1" formControlName="adress">
      </div>
      <img hidden src="/images/close.svg" id="adress-none">
    </div>
    <div>
      <div>
        <div><label for="adress2">Complément d'adresse</label></div>
        <input type="text" id="adress2" name="adress2">
      </div>
    </div>
    <div>
      <div>
        <div><label for="postal">Code Postal</label><p>*</p></div>
        <input type="text" id="postal" maxlength="5" name="postal" formControlName="postalCode">
      </div>
      <img src="assets/images/close.svg" *ngIf="registerForm.controls.postalCode.invalid">
      <img src="assets/images/tick.svg" *ngIf="registerForm.controls.postalCode.valid && registerForm.controls.postalCode.value.length != 0">
    </div>
    <div>
      <div>
        <div><label for="city">Ville</label><p>*</p></div>
        <input type="text" id="city" name="city" formControlName="city">
      </div>
      <img hidden src="/images/close.svg" id="city-none">
    </div>
  </div>

  <p id="champs-required">* Les champs sont obligatoires</p>

  <div id="submit-div">
    <input type="submit" value="Inscription" id="submit" *ngIf="registerForm.controls.email.valid && registerForm.controls.password.valid && registerForm.controls.name.valid && registerForm.controls.firstname.valid && registerForm.controls.phone.valid && registerForm.controls.adress.valid && registerForm.controls.postalCode.valid && registerForm.controls.city.valid && registerForm.controls.password.value == registerForm.controls.passwordCheck.value">
  </div>

</form>
</body>
