body {
  height: unset;

  form {
    padding: 20px 5%;

    h1 {
      font-size: 15px;
      color: rgb(55, 53, 65);
      font-family: 'Montserrat', sans-serif;
    }

    #user-info, #perso-info, #adress-info {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: 15px;

      div {
        display: flex;
        flex-direction: row;

        padding: 10px 15px;

        div {

          display: flex;
          flex-direction: column;

          div {
            display: flex;
            flex-direction: row;

            margin: 0;
            padding: 0;

            label {
              font-family: 'Montserrat', sans-serif;
              font-size: 12px;
              margin-bottom: 5px;
            }

            p {
              color: red;
              margin-left: 2px;
            }
          }

          input {
            border: 1px solid rgba(55, 53, 65, 0.3);
            border-radius: 2px;
            height: 35px;
            width: 200px;
            padding: 5px 15px;
          }
        }

        img {
          padding-top: 15px;
          width: 30px;
          opacity: 0.6;
        }
      }
    }

    #champs-required {
      font-family: 'Montserrat', sans-serif;
      font-size: 11px;

      margin-top: 15px;
      margin-bottom: 15px;
    }

    #submit-div {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      #submit {
        color: white;
        background: #551AD6;
        padding: 15px 25px;
        border-radius: 3px;
        border: none;
        box-shadow: rgba(48, 43, 83, 1) 2px 1px 10px 0px;
      }
    }
  }

  @media (max-width: 540px) {
    form {
      padding: 10px;

      h1 {
        font-size: 15px;
        text-align: center;
        color: rgb(55, 53, 65);
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 30px;
      }

      #user-info, #perso-info, #adress-info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        div {
          display: flex;
          flex-direction: row;
          padding: 0;

          div {
            display: flex;
            flex-direction: column;

            div {
              display: flex;
              flex-direction: row;

              margin: 0;
              padding: 0;

              label {
                font-family: 'Montserrat', sans-serif;
                font-size: 12px;
                margin-bottom: 10px;
              }

              p {
                color: red;
                margin-left: 2px;
              }
            }

            margin-left: 10px;

            input {
              border: 1px solid rgba(55, 53, 65, 0.3);
              border-radius: 2px;
              height: 25px;
              width: 150px;
              padding: 5px 15px;
              margin-bottom: 20px;
            }
          }

          img {
            padding: 10px;
            width: 20px;
            opacity: 0.6;
          }

          .password2-image {
            padding-top: 30px;
          }
        }
      }

      #champs-required {
        font-family: 'Montserrat', sans-serif;
        font-size: 11px;

        margin-top: 15px;
        margin-bottom: 15px;
      }

      #submit-div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        #submit {
          color: white;
          background: #551AD6;
          padding: 15px 25px;
          border-radius: 3px;
          border: none;
          box-shadow: rgba(48, 43, 83, 1) 2px 1px 10px 0px;
        }
      }
    }
  }

}
