form {
  padding: 20px 5%; }
  form h1 {
    font-size: 15px;
    color: #373541;
    font-family: 'Montserrat', sans-serif; }
  form #user-info, form #perso-info, form #adress-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 15px; }
    form #user-info div, form #perso-info div, form #adress-info div {
      display: flex;
      flex-direction: row;
      padding: 10px 15px; }
      form #user-info div div, form #perso-info div div, form #adress-info div div {
        display: flex;
        flex-direction: column; }
        form #user-info div div div, form #perso-info div div div, form #adress-info div div div {
          display: flex;
          flex-direction: row;
          margin: 0;
          padding: 0; }
          form #user-info div div div label, form #perso-info div div div label, form #adress-info div div div label {
            font-family: 'Montserrat', sans-serif;
            font-size: 12px;
            margin-bottom: 5px; }
          form #user-info div div div p, form #perso-info div div div p, form #adress-info div div div p {
            color: red;
            margin-left: 2px; }
        form #user-info div div input, form #perso-info div div input, form #adress-info div div input {
          border: 1px solid rgba(55, 53, 65, 0.3);
          border-radius: 2px;
          height: 35px;
          width: 200px;
          padding: 5px 15px; }
      form #user-info div img, form #perso-info div img, form #adress-info div img {
        padding-top: 15px;
        width: 30px;
        opacity: 0.6; }
  form #champs-required {
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    margin-top: 15px;
    margin-bottom: 15px; }
  form #submit-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    form #submit-div #submit {
      color: white;
      background: #551AD6;
      padding: 15px 25px;
      border-radius: 3px;
      border: none;
      box-shadow: #302b53 2px 1px 10px 0px; }

@media (max-width: 540px) {
  form {
    padding: 10px; }
    form h1 {
      font-size: 15px;
      text-align: center;
      color: #373541;
      font-family: 'Montserrat', sans-serif;
      margin-bottom: 30px; }
    form #user-info, form #perso-info, form #adress-info {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      form #user-info div, form #perso-info div, form #adress-info div {
        display: flex;
        flex-direction: row;
        padding: 0; }
        form #user-info div div, form #perso-info div div, form #adress-info div div {
          display: flex;
          flex-direction: column;
          margin-left: 10px; }
          form #user-info div div div, form #perso-info div div div, form #adress-info div div div {
            display: flex;
            flex-direction: row;
            margin: 0;
            padding: 0; }
            form #user-info div div div label, form #perso-info div div div label, form #adress-info div div div label {
              font-family: 'Montserrat', sans-serif;
              font-size: 12px;
              margin-bottom: 10px; }
            form #user-info div div div p, form #perso-info div div div p, form #adress-info div div div p {
              color: red;
              margin-left: 2px; }
          form #user-info div div input, form #perso-info div div input, form #adress-info div div input {
            border: 1px solid rgba(55, 53, 65, 0.3);
            border-radius: 2px;
            height: 25px;
            width: 150px;
            padding: 5px 15px;
            margin-bottom: 20px; }
        form #user-info div img, form #perso-info div img, form #adress-info div img {
          padding: 10px;
          width: 20px;
          opacity: 0.6; }
        form #user-info div .password2-image, form #perso-info div .password2-image, form #adress-info div .password2-image {
          padding-top: 30px; }
    form #champs-required {
      font-family: 'Montserrat', sans-serif;
      font-size: 11px;
      margin-top: 15px;
      margin-bottom: 15px; }
    form #submit-div {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      form #submit-div #submit {
        color: white;
        background: #551AD6;
        padding: 15px 25px;
        border-radius: 3px;
        border: none;
        box-shadow: #302b53 2px 1px 10px 0px; } }

/*# sourceMappingURL=inscription-form.component.css.map */
